<div class="hero">
  <div class="hero-inner">
    <h2>What does your app do?</h2>
    <br/>

    <%= form_tag app_names_path, class: "app_names_form" do %>
      <span class="itletsyou">It lets you</span>
      <%= select_tag "verb", options_for_select(@verbs) %>
      <%= text_field_tag "direct_object" %>
      <%= submit_tag "Generate app name!" %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  function updatePlaceholder() {
    var placeholder = $(".app_names_form select").val() + " what?";
    $("#direct_object").attr("placeholder", placeholder);
  }

  $(".app_names_form select").change(updatePlaceholder);
  updatePlaceholder();
<% end %>
