<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo">
      <i class="fa <%= @icon %> fa-5x"></i>
    </a>
    <div class="hero-copy">
      <h1><%= @app_name %></h1>
      <p class="tagline"><%= @tagline %></p>
      <% if @original_pun_phrase %>
        <p id="pun-description">(pun of "<%= @original_pun_phrase %>")</p>
      <% end %>
      <p>We can't wait to try <%= @app_name %> so we can <%= @verb %> <%= @direct_object %>!</p>
    </div>

    <%= form_tag app_names_path, class: "app_names_form" do %>
      <%= hidden_field_tag :verb, @verb %>
      <%= hidden_field_tag :direct_object, @direct_object %>
      <%= submit_tag "Try Again" %>
    <% end %>

    <%= link_to "Name a different app", root_path %>

    <% if @purchased %>
      <div class="domain-listing">
        <h3>Register your domain name:</h3>
        <hr>
        <% @domains_available.each do |domain| %>
          <div class="domain-listing">
            Domain: <em><%= domain["domain"] %></em><br>
            Available: <%= domain["availability"].upcase %><br>
            <% if domain["availability"] != "taken" %>
              <b class="red"><%= link_to "Register Now!", domain["register_url"] %></b>
            <% end %>
            <hr>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
