<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo">
      <i class="fa <%= @icon %> fa-5x"></i>
    </a>
    <div class="hero-copy">
      <h1><%= @app_name %></h1>
      <p class="tagline"><%= @tagline %></p>
      <% if @original_pun_phrase %>
        <p id="pun-description">(pun of "<%= @original_pun_phrase %>")</p>
      <% end %>
      <p>We can't wait to try <%= @app_name %> so we can <%= @verb %> <%= @direct_object %>!</p>
    </div>

    <%= form_tag app_names_path, class: "ib app_names_form" do %>
      <%= hidden_field_tag :verb, @verb %>
      <%= hidden_field_tag :direct_object, @direct_object %>
      <%= submit_tag "Rename This App", class: "buttons"%>
    <% end %>

    <div class="ib">
      <%= button_to "Name A Different App", root_path, class: "buttons", method: :get %>
    </div>

    <div class="domain-listing">
      <%= javascript_tag do %>
        $.getJSON("/domain_availability?app_name=<%= @app_name %>", function(data) {
          var domains = [];
          var iconClass = "";
          var domainRegisterLink = "";

          $.each(data, function(key, val) {
            if(val.availability === "available"){ iconClass = "fa-check-square-o"; domainRegisterLink = "<a href='" + val.register_url + "'>click here to register</a>"; }
            if(val.availability === "maybe"){ iconClass = "fa-question"; domainRegisterLink = "<a href='" + val.register_url + "'>click here to register</a>"; }
            if(val.availability === "taken"){ iconClass = "fa-remove"; }

            domains.push("<li><em>" + val.domain + "</em> <span> <i class='fa " + iconClass + "'></i> " + domainRegisterLink + "</span></li>")
          });

          $( "<ul/>", {
              "class": "domain-listing",
              html: domains.join( "" )
            }).appendTo( "#domains" );
        });
      <% end %>
      <div id="domains">
      </div>
    </div>
  </div>
</div>
